<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset>
          <legend class="text-center">Ericsson Interview <span class="req"></span></legend>
          <div class="form-group">
            <label for="longitude"><span class="req">* </span> Longitude:</label>
            <input required type="text" [(ngModel)]="location.longitude" name="longitude" id="longitude"
                   class="form-control phone" maxlength="28" placeholder="Enter your longitude..." />
          </div>
          <div class="form-group">
            <label for="longitude"><span class="req">* </span> Latitude: </label>
            <input class="form-control" type="text" [(ngModel)]="location.latitude" name="latitude" id="txt" required
                   placeholder="Enter your latitude " />
            <div id="errFirst"></div>
          </div>
          <div class="form-group">
            <label for="radius"><span class="req">* </span> radius : </label>
            <input class="form-control" type="text" [(ngModel)]="location.radius" name="radius" id="txt"
                   placeholder="Radius" required />
            <div id="radius"></div>
          </div>
          <div class="form-group">
            <input class="btn btn-success" type="submit" name="submit_reg" value="Search by Map" (click)="registerLocationNow()">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>
